<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<title>Vendelo Ya - Clasificados para todos! </title>
<link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div class="center">
			<div id="logo"><img src="../media/template/vendeloyalogo.png"></div>
			<div id="banners"><img src="http://feeling.com.mx/pub/b468x120.gif"></div>
		</div><!-- .center -->

	</div><!-- #header -->
	
	<div id="roof">
		
			<div id="menu">
				<a href="index.html">INICIO</a>
				<a href="#">AUTOS Y MOTOS</a>
				<a href="#">BIENES RA&Iacute;CES</a>
				<a href="#">ELECTR&Oacute;NICA</a>
				<a href="#">TODAS LAS CATEGOR&Iacute;AS</a>
				<a href="#">SERVICIOS</a>
				<a href="#">CONTACTO</a>
			</div> <!-- #menu -->
		
	</div>
	
	<div id="clear"></div>
	
	<div id="container">
		<div id="center_container">
			<div id="content">
				<h2>Contenido del sitio web</h2>				
				<p>En esta parte van los anuncios u otro contenido</p>
				<p>CSS B&aacute;sico<br>
					http://www.cristalab.com/tutoriales/tutorial-basico-de-css-c94l/ (corto)<br>
					http://www.w3.org/Style/Examples/011/firstcss.es.html (largo y detallado)<br>					
					Libros<br>
					PHP5<br>
					http://www.minam.gob.pe/valoracion/aplication/webroot/imgs/archivos/OOPPHP5.pdf<br>
					Simple PHP5<br>
					http://www.milkzoft.com/lib/files/documents/PHP5-Orientado-a-Objetos.pdf<br>
					http://www.killerphp.com/tutorials/object-oriented-php/downloads/tutorial_oop_en_php_para_killerphp.com.pdf</p>					
			</div> <!-- #content -->
			<div id="sidebar">
			<div id="title">&iquest;Qu&eacute; buscas?</div>
				<input type="text" class="round bigtext" size="10"><input type="submit" value="Buscar!" class="round bigtext">
			</div> <!-- #sidebar -->
			<div id="sidebar">
			<div id="title">Barra Lateral</div>
				<div id="list">
					<ul>
						<li><b>Hipervinculo</b> Descripci&oacute;n<a href="#">[mas]</a></li>
					</ul>
				</div> <!-- #list -->
				<p>En esta parte van los anuncios u otro contenido</p>
			</div> <!-- #sidebar -->
		</div> <!-- #center_conatiner -->
	</div> <!-- #container -->
	
			<div id="clear"></div>	
	
	<div id="footer">
		<div id="center_footer">
			<div id="left_footer"><b>Encuentranos en</b>
				<ul>
					<li><a href="#"><img src="images/facebook.png" alt="facebook" ></a></li>
					<li><a href="#"><img src="images/twitter.png" alt="facebook" ></a></li>
					<li><a href="#"><img src="images/youtube.png" alt="facebook" ></a></li>
					<li><a href="#"><img src="images/rss.png" alt="facebook" ></a></li>
				</ul>
			</div> <!-- #left_footer -->
			
			<div id="right_footer">
				<a href="#">CLASIFICADO PREMIUM</a><a href="#">CLASIFICADO ASISTIDO</a><br>
				<a href="#">PUBLICIDAD</a><a href="#">MAS SERVICIOS</a><br>
				<a href="index.html">INICIO</a><a href="#">ACERCA DE</a><a href="#">CONTACTO</a>				
			</div> <!-- #right_footer -->
			<span>VendeloYa.Net &copy; Derechos Reservados 2013</span>
		</div> <!-- #center_footer -->
	</div> <!-- #footer -->

</div> <!-- #wrapper -->
</body>
</html>
